In [1]:
# import
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, func
import psycopg2

In [2]:
#read into csv
kidney_state_donor = pd.read_csv('resources/kidney_state_donor.csv')
kidney_state_race_abo = pd.read_csv('resources/kidney_state_race_abo.csv')
transplant_state_heart = pd.read_csv('resources/transplant_state_heart.csv')
transplant_state_kidney = pd.read_csv('resources/transplant_state_kidney.csv')
transplant_state_liver = pd.read_csv('resources/transplant_state_liver.csv')
transplant_state_lung = pd.read_csv('resources/transplant_state_lung.csv')
waiting_time = pd.read_csv('resources/waiting_time.csv')
waitinglist_state = pd.read_csv('resources/waitinglist_state.csv')

In [4]:
kidney_state_donor.head(3)

,State,Deceased_Living,2020,2019,2018,2017,2016,2015,2014,2013,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,Alabama,Deceased,160,194,162,154,154,122,116,104,...,80,100,98,92,79,68,82,86,79,74
1,Alaska,Deceased,32,41,30,31,22,20,28,18,...,10,9,12,11,16,12,17,19,10,6
2,Arizona,Deceased,284,319,261,254,208,165,150,187,...,62,76,71,62,51,47,55,47,57,66

In [ ]:
kidney_state_race_abo.head(3)

In [ ]:
transplant_state_heart.head(3)

In [ ]:
transplant_state_kidney.head(3)

In [ ]:
transplant_state_liver.head(3)

In [ ]:
transplant_state_lung.head(3)

In [ ]:
waiting_time.head(3)

In [ ]:
waitinglist_state.head(3)