In [37]:
# import
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, func
import psycopg2
from config import pwd, dbpwd

In [38]:
#read into csv
kidney_state_donor = pd.read_csv('resources/kidney_state_donor.csv')
kidney_state_race_abo = pd.read_csv('resources/kidney_state_race_abo.csv')
transplant_state_heart = pd.read_csv('resources/transplant_state_heart.csv')
transplant_state_kidney = pd.read_csv('resources/transplant_state_kidney.csv')
transplant_state_liver = pd.read_csv('resources/transplant_state_liver.csv')
transplant_state_lung = pd.read_csv('resources/transplant_state_lung.csv')
waiting_time = pd.read_csv('resources/waiting_time.csv')
waitinglist_state = pd.read_csv('resources/waitinglist_state.csv')
kidney_removal_state_ethnicity = pd.read_csv('resources/kidney_removal_state_ethnicity.csv')
kidney_removal_state_abo = pd.read_csv('resources/kidney_removal_state_abo.csv')
kidney_waitlist_additions = pd.read_csv('resources/kidney_waitlist_additions.csv')

In [39]:
kidney_removal_state_abo.head(3)

,Removal_Reason,State,ABO,To_Date,2020,2019,2018,2017,2016,2015,...,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995
0,All Removal Reason,All Center States,All ABO,"575,383","33,327","38,142","36,588","35,795","35,252","33,963",...,"21,942","20,597","20,133","18,913","18,285","17,253","15,724","14,621","13,942","13,547"
1,All Removal Reason,All Center States,O,"273,549","16,028","18,394","17,604","17,262","17,017","16,392",...,"10,511","9,915","9,599","8,942","8,691","7,997","7,416","6,804","6,459","6,307"
2,All Removal Reason,All Center States,A,"196,298","11,014","12,561","12,033","11,872","11,819","11,208",...,"7,451","7,000","6,907","6,587","6,382","6,041","5,485","5,219","5,118","4,808"

In [40]:
print(kidney_removal_state_abo['Removal_Reason'].unique())

['All Removal Reason' 'Deceased Donor Transplant'
 'Living Donor Transplant' 'Deceased Donor Emergency Tx'
 'Deceased Donor Multi-Organ Tx' 'Patient died during TX procedure'
 'Transplanted in another country' 'Unable to contact candidate'
 'Waiting for KP, will not Accept Isol. Or'
 'Also Waiting for KP; recvd KP' 'Medically Unsuitable'
 'Also Waiting for KP; recvd Pancreas Alon' 'Refused transplant'
 'Transferred to another center' 'Died' 'Other' 'Condition Improved'
 'Too Sick to Transplant' 'Transplanted At Another Center']

In [41]:
#assign category (Total, Received Deceased Donor Transplant, Received Living Donor Transplant, Died/Too Sick, Other)
removal_category = []
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'All Removal Reason', 'removal_category'] = 'Total'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Deceased Donor Transplant', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Living Donor Transplant', 'removal_category'] = 'Received Living Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Deceased Donor Emergency Tx', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Deceased Donor Multi-Organ Tx', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Patient died during TX procedure', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Transplanted in another country', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Unable to contact candidate', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Waiting for KP, will not Accept Isol. Or', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Also Waiting for KP; recvd KP', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Medically Unsuitable', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Also Waiting for KP; recvd Pancreas Alon', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Refused transplant', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Transferred to another center', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Died', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Other', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Condition Improved', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Too Sick to Transplant', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Transplanted At Another Center', 'removal_category'] = 'Other'
kidney_removal_state_abo.head(3)

,Removal_Reason,State,ABO,To_Date,2020,2019,2018,2017,2016,2015,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,removal_category
0,All Removal Reason,All Center States,All ABO,"575,383","33,327","38,142","36,588","35,795","35,252","33,963",...,"20,597","20,133","18,913","18,285","17,253","15,724","14,621","13,942","13,547",Total
1,All Removal Reason,All Center States,O,"273,549","16,028","18,394","17,604","17,262","17,017","16,392",...,"9,915","9,599","8,942","8,691","7,997","7,416","6,804","6,459","6,307",Total
2,All Removal Reason,All Center States,A,"196,298","11,014","12,561","12,033","11,872","11,819","11,208",...,"7,000","6,907","6,587","6,382","6,041","5,485","5,219","5,118","4,808",Total

In [42]:
kidney_removal_state_ethnicity.head(3)

,Removal_Reason,State,Ethnicity,To_Date,2020,2019,2018,2017,2016,2015,...,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995
0,All Removal Reason,All Center States,All Ethnicities,"575,383","33,327","38,142","36,588","35,795","35,252","33,963",...,"21,942","20,597","20,133","18,913","18,285","17,253","15,724","14,621","13,942","13,547"
1,All Removal Reason,All Center States,White,"283,081","14,247","16,472","15,777","15,793","15,366","14,757",...,"11,295","10,868","10,836","10,395","10,302","9,801","8,919","8,475","8,164","7,959"
2,All Removal Reason,All Center States,Black,"160,510","9,648","11,194","10,605","10,552","10,544","10,490",...,"6,100","5,557","5,457","5,073","4,857","4,471","4,078","3,897","3,641","3,455"

In [43]:
print(kidney_removal_state_ethnicity['Removal_Reason'].unique())

['All Removal Reason' 'Deceased Donor Transplant'
 'Living Donor Transplant' 'Deceased Donor Emergency Tx'
 'Deceased Donor Multi-Organ Tx' 'Patient died during TX procedure'
 'Transplanted in another country' 'Unable to contact candidate'
 'Waiting for KP, will not Accept Isol. Or'
 'Also Waiting for KP; recvd KP' 'Medically Unsuitable'
 'Also Waiting for KP; recvd Pancreas Alon' 'Refused transplant'
 'Transferred to another center' 'Died' 'Other' 'Condition Improved'
 'Too Sick to Transplant' 'Transplanted At Another Center']

In [44]:
#assign category (Total, Received Deceased Donor Transplant, Received Living Donor Transplant, Died/Too Sick, Other)
removal_category = []
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'All Removal Reason', 'removal_category'] = 'Total'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Deceased Donor Transplant', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Living Donor Transplant', 'removal_category'] = 'Received Living Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Deceased Donor Emergency Tx', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Deceased Donor Multi-Organ Tx', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Patient died during TX procedure', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Transplanted in another country', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Unable to contact candidate', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Waiting for KP, will not Accept Isol. Or', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Also Waiting for KP; recvd KP', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Medically Unsuitable', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Also Waiting for KP; recvd Pancreas Alon', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Refused transplant', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Transferred to another center', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Died', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Other', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Condition Improved', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Too Sick to Transplant', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Transplanted At Another Center', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.head(3)

,Removal_Reason,State,Ethnicity,To_Date,2020,2019,2018,2017,2016,2015,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,removal_category
0,All Removal Reason,All Center States,All Ethnicities,"575,383","33,327","38,142","36,588","35,795","35,252","33,963",...,"20,597","20,133","18,913","18,285","17,253","15,724","14,621","13,942","13,547",Total
1,All Removal Reason,All Center States,White,"283,081","14,247","16,472","15,777","15,793","15,366","14,757",...,"10,868","10,836","10,395","10,302","9,801","8,919","8,475","8,164","7,959",Total
2,All Removal Reason,All Center States,Black,"160,510","9,648","11,194","10,605","10,552","10,544","10,490",...,"5,557","5,457","5,073","4,857","4,471","4,078","3,897","3,641","3,455",Total

In [45]:
kidney_waitlist_additions.head(3)

,State,ABO,Ethnicity,To_Date,2020,2019,2018,2017,2016,2015,...,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995
0,All Center States,All ABO,All Ethnicities,"634,539","33,043","41,105","38,799","35,593","35,417","35,033",...,"27,274","24,617","23,644","22,497","22,378","21,835","19,473","18,405","17,732","17,257"
1,All Center States,All ABO,White,"301,516","13,937","17,317","16,378","15,661","15,530","15,365",...,"13,145","11,989","11,836","11,441","11,709","11,952","10,449","9,845","9,760","9,510"
2,All Center States,All ABO,Black,"177,840","9,371","11,804","10,925","9,877","10,026","10,251",...,"7,605","6,960","6,642","6,376","6,256","5,914","5,504","5,180","5,073","4,760"

In [46]:
kidney_state_donor.head(3)

,State,Deceased_Living,2020,2019,2018,2017,2016,2015,2014,2013,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,Alabama,Deceased,160,194,162,154,154,122,116,104,...,80,100,98,92,79,68,82,86,79,74
1,Alaska,Deceased,32,41,30,31,22,20,28,18,...,10,9,12,11,16,12,17,19,10,6
2,Arizona,Deceased,284,319,261,254,208,165,150,187,...,62,76,71,62,51,47,55,47,57,66

In [47]:
kidney_state_race_abo.head(3)

,Race,State,ABO,2020,2019,2018,2017,2016,2015,2014,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,White,Alabama,A,18,10,25,17,11,15,28,...,16,17,12,12,17,14,15,10,10,8
1,White,Alaska,A,1,3,3,1,0,4,4,...,3,1,3,2,1,3,4,2,1,4
2,White,Arizona,A,22,23,28,14,18,23,27,...,14,15,7,8,13,7,6,7,5,1

In [48]:
transplant_state_heart.head(3)

,Unnamed: 0,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,"3,378","3,552","3,408","3,244","3,191","2,804","2,655","2,531","2,378",...,"2,293","2,343","2,363","2,340","2,297","2,170","2,127","2,107","1,705","1,676"
1,Alabama,24,29,36,36,20,26,29,31,22,...,46,50,39,42,41,28,31,37,20,21
2,Arizona,74,63,77,77,81,65,40,29,45,...,33,30,33,41,37,31,34,43,40,38

In [49]:
#column names incomplete
transplant_state_heart.columns.values.tolist()

['Unnamed: 0',
 '2020',
 '2019',
 '2018',
 '2017',
 '2016',
 '2015',
 '2014',
 '2013',
 '2012',
 '2011',
 '2010',
 '2009',
 '2008',
 '2007',
 '2006',
 '2005',
 '2004',
 '2003',
 '2002',
 '2001',
 '2000',
 '1999',
 '1998',
 '1997',
 '1996',
 '1995',
 '1994',
 '1993',
 '1992',
 '1991',
 '1990',
 '1989',
 '1988']

In [50]:
#rename unnamed
transplant_state_heart = transplant_state_heart.rename(columns={"Unnamed: 0": "State"})
transplant_state_heart.head(3)

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,"3,378","3,552","3,408","3,244","3,191","2,804","2,655","2,531","2,378",...,"2,293","2,343","2,363","2,340","2,297","2,170","2,127","2,107","1,705","1,676"
1,Alabama,24,29,36,36,20,26,29,31,22,...,46,50,39,42,41,28,31,37,20,21
2,Arizona,74,63,77,77,81,65,40,29,45,...,33,30,33,41,37,31,34,43,40,38

In [51]:
transplant_state_kidney.head(3)

,Unnamed: 0,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,"20,932","23,401","21,167","19,849","19,060","17,878","17,108","16,896","16,487",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
1,Alabama,317,296,275,307,216,221,234,242,206,...,279,281,300,267,313,239,251,263,238,210
2,Arizona,607,726,638,627,609,502,432,467,377,...,148,137,137,153,149,109,113,121,147,140

In [52]:
#rename unnamed
transplant_state_kidney = transplant_state_kidney.rename(columns={"Unnamed: 0": "State"})
transplant_state_kidney.head(3)

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,"20,932","23,401","21,167","19,849","19,060","17,878","17,108","16,896","16,487",...,"11,710","11,411","11,084","10,646","10,360","9,738","9,678","9,416","8,656","8,878"
1,Alabama,317,296,275,307,216,221,234,242,206,...,279,281,300,267,313,239,251,263,238,210
2,Arizona,607,726,638,627,609,502,432,467,377,...,148,137,137,153,149,109,113,121,147,140

In [53]:
transplant_state_liver.head(3)

,Unnamed: 0,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,"8,193","8,896","8,250","8,082","7,841","7,127","6,730","6,455","6,256",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
1,Alabama,97,133,125,133,149,120,107,103,110,...,86,86,82,63,41,31,24,23,10,3
2,Arizona,284,332,289,248,236,142,135,152,133,...,21,29,22,26,32,8,13,12,9,8

In [54]:
#rename unnamed
transplant_state_liver = transplant_state_liver.rename(columns={"Unnamed: 0": "State"})
transplant_state_liver.head(3)

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,"8,193","8,896","8,250","8,082","7,841","7,127","6,730","6,455","6,256",...,"4,189","4,087","3,934","3,652","3,440","3,064","2,953","2,690","2,202","1,713"
1,Alabama,97,133,125,133,149,120,107,103,110,...,86,86,82,63,41,31,24,23,10,3
2,Arizona,284,332,289,248,236,142,135,152,133,...,21,29,22,26,32,8,13,12,9,8

In [55]:
transplant_state_lung.head(3)

,Unnamed: 0,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,"2,362","2,714","2,530","2,449","2,327","2,057","1,925","1,923","1,754",...,932,815,872,724,667,535,405,203,93,33
1,Alabama,12,8,19,18,15,17,21,24,18,...,27,25,27,23,11,9,6,2,1,0
2,Arizona,124,150,145,117,128,101,73,71,58,...,7,6,7,6,5,4,4,4,0,0

In [56]:
#rename unnamed
transplant_state_lung = transplant_state_lung.rename(columns={"Unnamed: 0": "State"})
transplant_state_lung.head(3)

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,"2,362","2,714","2,530","2,449","2,327","2,057","1,925","1,923","1,754",...,932,815,872,724,667,535,405,203,93,33
1,Alabama,12,8,19,18,15,17,21,24,18,...,27,25,27,23,11,9,6,2,1,0
2,Arizona,124,150,145,117,128,101,73,71,58,...,7,6,7,6,5,4,4,4,0,0

In [57]:
waiting_time.head(3)

,Unnamed: 0,All_Organs,Kidney,Liver,Pancreas,Kidney_Pancreas,Heart,Lung,Heart_Lung,Intestine,Abdominal_Wall,Head_Neck,Uterus,Upper_Limb_Bilateral,Upper_Limb_Unilateral,Face_Scalp,Trachea
0,All Time,"108,269","91,578","11,979",885,"1,687","3,503",977,42,219,4,2,6,3,3,1,1
1,< 30 Days,"3,965","2,830",716,29,91,274,160,4,10,0,0,0,0,0,0,0
2,30 to < 90 Days,"7,513","5,687","1,215",68,183,407,175,6,17,0,0,0,0,0,0,0

In [58]:
waitinglist_state.head(3)

,Unnamed: 0,Kidney,Liver,Pancreas,Kidney_Pancreas,Heart,Lung,Heart_Lung,Intestine,Abdominal_Wall,Head_Neck,Uterus,Upper_Limb_Bilateral,Upper_Limb_Unilateral,Face_Scalp,Trachea
0,All Center States,"91,578","11,979",885,"1,687","3,503",977,42,219,4,2,6,3,3,1,1
1,Alabama,"1,094",103,5,8,23,11,0,0,0,0,0,0,0,0,0
2,Arizona,"1,422",197,4,20,26,9,0,0,0,0,0,0,0,0,0

In [59]:
#rename unnamed
waitinglist_state = waitinglist_state.rename(columns={"Unnamed: 0": "State"})
waitinglist_state.head(3)

,State,Kidney,Liver,Pancreas,Kidney_Pancreas,Heart,Lung,Heart_Lung,Intestine,Abdominal_Wall,Head_Neck,Uterus,Upper_Limb_Bilateral,Upper_Limb_Unilateral,Face_Scalp,Trachea
0,All Center States,"91,578","11,979",885,"1,687","3,503",977,42,219,4,2,6,3,3,1,1
1,Alabama,"1,094",103,5,8,23,11,0,0,0,0,0,0,0,0,0
2,Arizona,"1,422",197,4,20,26,9,0,0,0,0,0,0,0,0,0

In [60]:
kidney_state_donor.to_csv('resources/cleaned_csvs/kidney_state_donor_cleaned.csv',index = True)
kidney_state_race_abo.to_csv('resources/cleaned_csvs/kidney_state_race_abo_cleaned.csv',index = True)
transplant_state_heart.to_csv('resources/cleaned_csvs/transplant_state_heart_cleaned.csv',index = True)
transplant_state_kidney.to_csv('resources/cleaned_csvs/transplant_state_kidney_cleaned.csv',index = True)
transplant_state_liver.to_csv('resources/cleaned_csvs/transplant_state_liver_cleaned.csv',index = True)
transplant_state_lung.to_csv('resources/cleaned_csvs/transplant_state_lung_cleaned.csv',index = True)
waiting_time.to_csv('resources/cleaned_csvs/waiting_time_cleaned.csv',index = True)
waitinglist_state.to_csv('resources/cleaned_csvs/waiting_list_cleaned.csv',index = True)
kidney_removal_state_abo.to_csv('resources/cleaned_csvs/kidney_removal_state_abo_cleaned.csv',index = True)
kidney_removal_state_ethnicity.to_csv('resources/cleaned_csvs/kidney_removal_state_ethnicity_cleaned.csv',index = True)
kidney_waitlist_additions.to_csv('resources/cleaned_csvs/kidney_waitlist_additions_cleaned.csv',index = True)

In [61]:
# Create PostgreSQL RDS Database Connection
engine = create_engine("postgres+psycopg2://postgres:Group2Final@optn-analysis.cwcmoauclg7w.us-east-2.rds.amazonaws.com:5432/optn")

In [62]:
conn = engine.connect()

In [63]:
# Check table names
engine.table_names()

['kidney_removal_state_abo_cleaned',
 'kidney_removal_state_ethnicity_cleaned',
 'kidney_state_race_abo_cleaned',
 'kidney_state_donor_cleaned',
 'kidney_waitlist_additions_cleaned',
 'transplant_state_kidney_cleaned']

In [66]:
kidney_removal_state_abo.to_sql('kidney_removal_state_abo_cleaned', con=engine, if_exists = 'append', index=False)

In [67]:
pd.read_sql_query('select * from kidney_removal_state_abo_cleaned', con=engine).head()

,Removal_Reason,State,ABO,To_Date,2020,2019,2018,2017,2016,2015,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,removal_category
0,All Removal Reason,All Center States,All ABO,"575,383","33,327","38,142","36,588","35,795","35,252","33,963",...,"20,597","20,133","18,913","18,285","17,253","15,724","14,621","13,942","13,547",Total
1,All Removal Reason,All Center States,O,"273,549","16,028","18,394","17,604","17,262","17,017","16,392",...,"9,915","9,599","8,942","8,691","7,997","7,416","6,804","6,459","6,307",Total
2,All Removal Reason,All Center States,A,"196,298","11,014","12,561","12,033","11,872","11,819","11,208",...,"7,000","6,907","6,587","6,382","6,041","5,485","5,219","5,118","4,808",Total
3,All Removal Reason,All Center States,B,"82,113","4,970","5,640","5,503","5,249","5,099","4,942",...,"2,878","2,820","2,622","2,501","2,464","2,196","2,006","1,791","1,839",Total
4,All Removal Reason,All Center States,AB,"23,527","1,315","1,547","1,449","1,412","1,317","1,421",...,804,807,762,712,751,627,592,575,593,Total

In [68]:
kidney_removal_state_ethnicity.to_sql('kidney_removal_state_ethnicity_cleaned', con=engine, if_exists = 'append', index=False)

In [69]:
kidney_removal_state_abo.to_sql('kidney_state_race_abo_cleaned', con=engine, if_exists = 'append', index=False)

In [70]:
kidney_state_donor.to_sql('kidney_state_donor_cleaned', con=engine, if_exists = 'append', index=False)

In [71]:
kidney_waitlist_additions.to_sql('kidney_waitlist_additions_cleaned', con=engine, if_exists = 'append', index=False)

In [72]:
transplant_state_kidney.to_sql('transplant_state_kidney_cleaned', con=engine, if_exists = 'append', index=False)