In [2]:
# import
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, func
import psycopg2
from config import pwd

In [5]:
#read into csv
kidney_state_donor = pd.read_csv('resources/kidney_state_donor.csv')
kidney_state_race_abo = pd.read_csv('resources/kidney_state_race_abo.csv')
transplant_state_heart = pd.read_csv('resources/transplant_state_heart.csv')
transplant_state_kidney = pd.read_csv('resources/transplant_state_kidney.csv')
transplant_state_liver = pd.read_csv('resources/transplant_state_liver.csv')
transplant_state_lung = pd.read_csv('resources/transplant_state_lung.csv')
waiting_time = pd.read_csv('resources/waiting_time.csv')
waitinglist_state = pd.read_csv('resources/waitinglist_state.csv')
kidney_removal_state_ethnicity = pd.read_csv('resources/kidney_removal_state_ethnicity.csv')
kidney_removal_state_abo = pd.read_csv('resources/kidney_removal_state_abo.csv')
kidney_waitlist_additions = pd.read_csv('resources/kidney_waitlist_additions.csv')
diabetes_state = pd.read_csv('resources/diabetes_state.csv')
obesity_state = pd.read_csv('resources/obesity_state.csv')
overdose_state = pd.read_csv('resources/overdose_state.csv')

In [5]:
overdose_state = pd.read_csv('resources/overdose_state.csv')

In [6]:
overdose_state.dtypes

State           object
1999           float64
2000           float64
2001           float64
2002           float64
2003           float64
2004           float64
2005           float64
2006           float64
2007           float64
2008           float64
2009           float64
2010           float64
2011           float64
2012           float64
2013           float64
2014           float64
2015           float64
2016           float64
2017           float64
2018           float64
Unnamed: 21     object
dtype: object

In [7]:
overdose_state.head()

,State,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 21
0,Alabama,0.9,1.0,1.5,1.7,1.2,2.0,1.8,2.9,3.7,...,4.1,3.7,3.6,3.6,5.8,15.7,16.2,18.0,16.6,NaN
1,Alaska,4.5,4.3,NaN,NaN,NaN,NaN,11.4,4.3,NaN,...,10.0,10.0,11.1,9.4,10.7,16.0,16.8,20.2,14.6,NaN
2,Arizona,5.0,4.9,5.2,6.3,6.4,6.4,6.7,7.9,7.9,...,10.2,9.2,8.6,8.2,9.2,19.0,20.3,22.2,23.8,NaN
3,Arkansas,1.1,0.7,1.1,3.5,3.6,4.8,4.6,5.3,5.5,...,6.8,6.0,6.1,5.9,6.0,13.8,14.0,15.5,15.7,NaN
4,California,4.8,3.3,1.8,4.5,4.3,4.3,4.1,4.4,4.9,...,5.5,5.5,4.9,5.4,5.6,11.3,11.2,11.7,12.8,NaN

In [8]:
del overdose_state['Unnamed: 21']
overdose_state.head()

,State,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Alabama,0.9,1.0,1.5,1.7,1.2,2.0,1.8,2.9,3.7,...,4.4,4.1,3.7,3.6,3.6,5.8,15.7,16.2,18.0,16.6
1,Alaska,4.5,4.3,NaN,NaN,NaN,NaN,11.4,4.3,NaN,...,13.4,10.0,10.0,11.1,9.4,10.7,16.0,16.8,20.2,14.6
2,Arizona,5.0,4.9,5.2,6.3,6.4,6.4,6.7,7.9,7.9,...,9.9,10.2,9.2,8.6,8.2,9.2,19.0,20.3,22.2,23.8
3,Arkansas,1.1,0.7,1.1,3.5,3.6,4.8,4.6,5.3,5.5,...,7.6,6.8,6.0,6.1,5.9,6.0,13.8,14.0,15.5,15.7
4,California,4.8,3.3,1.8,4.5,4.3,4.3,4.1,4.4,4.9,...,5.8,5.5,5.5,4.9,5.4,5.6,11.3,11.2,11.7,12.8

In [14]:
obesity_state.dtypes

State     object
1995     float64
1996     float64
1997     float64
1998     float64
1999     float64
2000     float64
2001     float64
2002     float64
2003     float64
2004     float64
2005     float64
2006     float64
2007     float64
2008     float64
2009     float64
2010     float64
2011     float64
2012     float64
2013     float64
2014     float64
2015     float64
2016     float64
2017     float64
2018     float64
2019     float64
dtype: object

In [6]:
diabetes_state.dtypes

State     object
1995     float64
1996     float64
1997     float64
1998     float64
1999     float64
2000     float64
2001     float64
2002     float64
2003     float64
2004     float64
2005     float64
2006     float64
2007     float64
2008     float64
2009     float64
2010     float64
2011     float64
2012     float64
2013     float64
2014     float64
2015     float64
2016     float64
2017     float64
2018     float64
2019     float64
dtype: object

In [7]:
diabetes_state.head()

,State,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Alabama,0.05,0.06,0.06,0.07,0.08,0.08,0.08,0.09,0.09,...,0.12,0.12,0.12,0.14,0.13,0.14,0.15,0.14,0.15,0.14
1,Alaska,0.04,0.04,0.04,0.04,0.04,0.04,0.05,0.05,0.05,...,0.06,0.08,0.07,0.07,0.07,0.08,0.08,0.07,0.09,0.07
2,Arizona,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.06,0.06,...,0.09,0.10,0.11,0.11,0.10,0.10,0.11,0.10,0.11,0.11
3,Arkansas,0.06,0.06,0.06,0.07,0.07,0.07,0.07,0.07,0.07,...,0.10,0.11,0.11,0.12,0.13,0.13,0.14,0.12,0.14,0.14
4,California,0.05,0.05,0.06,0.06,0.07,0.08,0.07,0.07,0.07,...,0.09,0.09,0.10,0.10,0.10,0.10,0.10,0.11,0.10,0.10

In [274]:
#function to convert 2020-1988 to int
convert_allyears = {'2020': int, 
                '2019': int,
                '2018': int,
                '2017': int,
                '2016': int,
                '2015': int,
                '2014': int,
                '2013': int,
                '2012': int,
                '2011': int,
                '2010': int,
                '2009': int,
                '2008': int,
                '2007': int,
                '2006': int,
                '2005': int,
                '2004': int,
                '2003': int,
                '2002': int,
                '2001': int,
                '2000': int,
                '1999': int,
                '1998': int,
                '1997': int,
                '1996': int,
                '1995': int,
                '1994': int,
                '1993': int,
                '1992': int,
                '1991': int,
                '1990': int,
                '1989': int,
                '1988': int,

               }

In [275]:
#function to convert 2020-1995 to int
convert_shortyears = {'2020': int, 
                '2019': int,
                '2018': int,
                '2017': int,
                '2016': int,
                '2015': int,
                '2014': int,
                '2013': int,
                '2012': int,
                '2011': int,
                '2010': int,
                '2009': int,
                '2008': int,
                '2007': int,
                '2006': int,
                '2005': int,
                '2004': int,
                '2003': int,
                '2002': int,
                '2001': int,
                '2000': int,
                '1999': int,
                '1998': int,
                '1997': int,
                '1996': int,
                '1995': int
               }

In [276]:
#function to convert to_date
convert_todate = {'To_Date': int}

In [277]:
#remove commas
kidney_state_donor = kidney_state_donor.replace(',','', regex=True)
kidney_state_race_abo = kidney_state_race_abo.replace(',','', regex=True)
transplant_state_heart = transplant_state_heart.replace(',','', regex=True)
transplant_state_kidney = transplant_state_kidney.replace(',','', regex=True)
transplant_state_liver = transplant_state_liver.replace(',','', regex=True)
transplant_state_lung = transplant_state_lung.replace(',','', regex=True)
waiting_time = waiting_time.replace(',','', regex=True)
waitinglist_state = waitinglist_state.replace(',','', regex=True)
kidney_removal_state_ethnicity = kidney_removal_state_ethnicity.replace(',','', regex=True)
kidney_removal_state_abo = kidney_removal_state_abo.replace(',','', regex=True)
kidney_waitlist_additions = kidney_waitlist_additions.replace(',','', regex=True)

In [278]:
#CHECK OBJECT TYPES
kidney_state_donor.dtypes

State              object
Deceased_Living    object
2020               object
2019               object
2018                int64
2017                int64
2016                int64
2015                int64
2014                int64
2013                int64
2012                int64
2011                int64
2010                int64
2009                int64
2008                int64
2007                int64
2006                int64
2005                int64
2004                int64
2003                int64
2002                int64
2001                int64
2000                int64
1999                int64
1998                int64
1997                int64
1996                int64
1995                int64
1994                int64
1993                int64
1992                int64
1991                int64
1990                int64
1989                int64
1988                int64
dtype: object

In [279]:
#convert
kidney_state_donor = kidney_state_donor.astype(convert_years)

#check conversion
kidney_state_donor.dtypes

State              object
Deceased_Living    object
2020                int32
2019                int32
2018                int32
2017                int32
2016                int32
2015                int32
2014                int32
2013                int32
2012                int32
2011                int32
2010                int32
2009                int32
2008                int32
2007                int32
2006                int32
2005                int32
2004                int32
2003                int32
2002                int32
2001                int32
2000                int32
1999                int32
1998                int32
1997                int32
1996                int32
1995                int32
1994                int32
1993                int32
1992                int32
1991                int32
1990                int32
1989                int32
1988                int32
dtype: object

In [280]:
#CHECK OBJECT TYPES
kidney_removal_state_abo.dtypes

Removal_Reason    object
State             object
ABO               object
To_Date           object
2020              object
2019              object
2018              object
2017              object
2016              object
2015              object
2014              object
2013              object
2012              object
2011              object
2010              object
2009              object
2008              object
2007              object
2006              object
2005              object
2004              object
2003              object
2002              object
2001              object
2000              object
1999              object
1998              object
1997              object
1996              object
1995              object
dtype: object

In [281]:
#convert
kidney_removal_state_abo = kidney_removal_state_abo.astype(convert_shortyears)
kidney_removal_state_abo = kidney_removal_state_abo.astype(convert_todate)

#check conversion
kidney_removal_state_abo.dtypes

Removal_Reason    object
State             object
ABO               object
To_Date            int32
2020               int32
2019               int32
2018               int32
2017               int32
2016               int32
2015               int32
2014               int32
2013               int32
2012               int32
2011               int32
2010               int32
2009               int32
2008               int32
2007               int32
2006               int32
2005               int32
2004               int32
2003               int32
2002               int32
2001               int32
2000               int32
1999               int32
1998               int32
1997               int32
1996               int32
1995               int32
dtype: object

In [282]:
#CHECK OBJECT TYPES
kidney_removal_state_ethnicity.dtypes

Removal_Reason    object
State             object
Ethnicity         object
To_Date           object
2020              object
2019              object
2018              object
2017              object
2016              object
2015              object
2014              object
2013              object
2012              object
2011              object
2010              object
2009              object
2008              object
2007              object
2006              object
2005              object
2004              object
2003              object
2002              object
2001              object
2000              object
1999              object
1998              object
1997              object
1996              object
1995              object
dtype: object

In [283]:
#CONVERT
kidney_removal_state_ethnicity = kidney_removal_state_ethnicity.astype(convert_shortyears)
kidney_removal_state_ethnicity = kidney_removal_state_ethnicity.astype(convert_todate)
#CHECK OBJECT TYPES
kidney_removal_state_ethnicity.dtypes

Removal_Reason    object
State             object
Ethnicity         object
To_Date            int32
2020               int32
2019               int32
2018               int32
2017               int32
2016               int32
2015               int32
2014               int32
2013               int32
2012               int32
2011               int32
2010               int32
2009               int32
2008               int32
2007               int32
2006               int32
2005               int32
2004               int32
2003               int32
2002               int32
2001               int32
2000               int32
1999               int32
1998               int32
1997               int32
1996               int32
1995               int32
dtype: object

In [284]:
#CHECK OBJECT TYPES
kidney_state_race_abo.dtypes

Race      object
State     object
ABO       object
2020       int64
2019       int64
2018       int64
2017       int64
2016       int64
2015       int64
2014       int64
2013       int64
2012       int64
2011       int64
2010       int64
2009       int64
2008       int64
2007       int64
2006       int64
2005       int64
2004       int64
2003       int64
2002       int64
2001       int64
2000       int64
1999       int64
1998       int64
1997       int64
1996       int64
1995       int64
1994       int64
1993       int64
1992       int64
1991       int64
1990       int64
1989       int64
1988       int64
dtype: object

In [285]:
#CONVERT
kidney_state_race_abo = kidney_state_race_abo.astype(convert_shortyears)

#CHECK OBJECT TYPES
kidney_state_race_abo.dtypes

Race      object
State     object
ABO       object
2020       int32
2019       int32
2018       int32
2017       int32
2016       int32
2015       int32
2014       int32
2013       int32
2012       int32
2011       int32
2010       int32
2009       int32
2008       int32
2007       int32
2006       int32
2005       int32
2004       int32
2003       int32
2002       int32
2001       int32
2000       int32
1999       int32
1998       int32
1997       int32
1996       int32
1995       int32
1994       int64
1993       int64
1992       int64
1991       int64
1990       int64
1989       int64
1988       int64
dtype: object

In [286]:
#CHECK OBJECT TYPES
kidney_waitlist_additions.dtypes

State        object
ABO          object
Ethnicity    object
To_Date      object
2020         object
2019         object
2018         object
2017         object
2016         object
2015         object
2014         object
2013         object
2012         object
2011         object
2010         object
2009         object
2008         object
2007         object
2006         object
2005         object
2004         object
2003         object
2002         object
2001         object
2000         object
1999         object
1998         object
1997         object
1996         object
1995         object
dtype: object

In [287]:
#CONVERT
kidney_waitlist_additions = kidney_waitlist_additions.astype(convert_shortyears)
kidney_waitlist_additions = kidney_waitlist_additions.astype(convert_todate)

#CHECK OBJECT TYPES
kidney_waitlist_additions.dtypes

State        object
ABO          object
Ethnicity    object
To_Date       int32
2020          int32
2019          int32
2018          int32
2017          int32
2016          int32
2015          int32
2014          int32
2013          int32
2012          int32
2011          int32
2010          int32
2009          int32
2008          int32
2007          int32
2006          int32
2005          int32
2004          int32
2003          int32
2002          int32
2001          int32
2000          int32
1999          int32
1998          int32
1997          int32
1996          int32
1995          int32
dtype: object

In [288]:
#CHECK OBJECT TYPES
transplant_state_heart.dtypes

Unnamed: 0    object
2020          object
2019          object
2018          object
2017          object
2016          object
2015          object
2014          object
2013          object
2012          object
2011          object
2010          object
2009          object
2008          object
2007          object
2006          object
2005          object
2004          object
2003          object
2002          object
2001          object
2000          object
1999          object
1998          object
1997          object
1996          object
1995          object
1994          object
1993          object
1992          object
1991          object
1990          object
1989          object
1988          object
dtype: object

In [289]:
#CONVERT
transplant_state_heart = transplant_state_heart.astype(convert_allyears)

#CHECK OBJECT TYPES
transplant_state_heart.dtypes

Unnamed: 0    object
2020           int32
2019           int32
2018           int32
2017           int32
2016           int32
2015           int32
2014           int32
2013           int32
2012           int32
2011           int32
2010           int32
2009           int32
2008           int32
2007           int32
2006           int32
2005           int32
2004           int32
2003           int32
2002           int32
2001           int32
2000           int32
1999           int32
1998           int32
1997           int32
1996           int32
1995           int32
1994           int32
1993           int32
1992           int32
1991           int32
1990           int32
1989           int32
1988           int32
dtype: object

In [290]:
#CHECK OBJECT TYPES
transplant_state_kidney.dtypes

Unnamed: 0    object
2020          object
2019          object
2018          object
2017          object
2016          object
2015          object
2014          object
2013          object
2012          object
2011          object
2010          object
2009          object
2008          object
2007          object
2006          object
2005          object
2004          object
2003          object
2002          object
2001          object
2000          object
1999          object
1998          object
1997          object
1996          object
1995          object
1994          object
1993          object
1992          object
1991          object
1990          object
1989          object
1988          object
dtype: object

In [291]:
#CONVERT
transplant_state_kidney = transplant_state_kidney.astype(convert_allyears)

#CHECK OBJECT TYPES
transplant_state_kidney.dtypes

Unnamed: 0    object
2020           int32
2019           int32
2018           int32
2017           int32
2016           int32
2015           int32
2014           int32
2013           int32
2012           int32
2011           int32
2010           int32
2009           int32
2008           int32
2007           int32
2006           int32
2005           int32
2004           int32
2003           int32
2002           int32
2001           int32
2000           int32
1999           int32
1998           int32
1997           int32
1996           int32
1995           int32
1994           int32
1993           int32
1992           int32
1991           int32
1990           int32
1989           int32
1988           int32
dtype: object

In [292]:
#CHECK OBJECT TYPES
transplant_state_liver.dtypes

Unnamed: 0    object
2020          object
2019          object
2018          object
2017          object
2016          object
2015          object
2014          object
2013          object
2012          object
2011          object
2010          object
2009          object
2008          object
2007          object
2006          object
2005          object
2004          object
2003          object
2002          object
2001          object
2000          object
1999          object
1998          object
1997          object
1996          object
1995          object
1994          object
1993          object
1992          object
1991          object
1990          object
1989          object
1988          object
dtype: object

In [293]:
#CONVERT
transplant_state_liver = transplant_state_liver.astype(convert_allyears)

#CHECK OBJECT TYPES
transplant_state_liver.dtypes

Unnamed: 0    object
2020           int32
2019           int32
2018           int32
2017           int32
2016           int32
2015           int32
2014           int32
2013           int32
2012           int32
2011           int32
2010           int32
2009           int32
2008           int32
2007           int32
2006           int32
2005           int32
2004           int32
2003           int32
2002           int32
2001           int32
2000           int32
1999           int32
1998           int32
1997           int32
1996           int32
1995           int32
1994           int32
1993           int32
1992           int32
1991           int32
1990           int32
1989           int32
1988           int32
dtype: object

In [294]:
#CHECK OBJECT TYPES
transplant_state_lung.dtypes

Unnamed: 0    object
2020          object
2019          object
2018          object
2017          object
2016          object
2015          object
2014          object
2013          object
2012          object
2011          object
2010          object
2009          object
2008          object
2007          object
2006          object
2005          object
2004          object
2003          object
2002          object
2001          object
2000           int64
1999           int64
1998           int64
1997           int64
1996           int64
1995           int64
1994           int64
1993           int64
1992           int64
1991           int64
1990           int64
1989           int64
1988           int64
dtype: object

In [295]:
#CONVERT
transplant_state_lung = transplant_state_lung.astype(convert_allyears)

#CHECK OBJECT TYPES
transplant_state_lung.dtypes

Unnamed: 0    object
2020           int32
2019           int32
2018           int32
2017           int32
2016           int32
2015           int32
2014           int32
2013           int32
2012           int32
2011           int32
2010           int32
2009           int32
2008           int32
2007           int32
2006           int32
2005           int32
2004           int32
2003           int32
2002           int32
2001           int32
2000           int32
1999           int32
1998           int32
1997           int32
1996           int32
1995           int32
1994           int32
1993           int32
1992           int32
1991           int32
1990           int32
1989           int32
1988           int32
dtype: object

In [296]:
#CHECK OBJECT TYPES
waitinglist_state.dtypes

Unnamed: 0               object
Kidney                   object
Liver                    object
Pancreas                  int64
Kidney_Pancreas          object
Heart                    object
Lung                      int64
Heart_Lung                int64
Intestine                 int64
Abdominal_Wall            int64
Head_Neck                 int64
Uterus                    int64
Upper_Limb_Bilateral      int64
Upper_Limb_Unilateral     int64
Face_Scalp                int64
Trachea                   int64
dtype: object

In [297]:
#function to convert 2020-1995 to int
convert_organcounts = {'Kidney': int, 
                'Liver': int,
                'Pancreas': int,
                'Kidney_Pancreas': int,
                'Heart': int,
                'Lung': int,
                'Heart_Lung': int,
                'Intestine': int,
                'Abdominal_Wall': int,
                'Head_Neck': int,
                'Uterus': int,
                'Upper_Limb_Bilateral': int,
                'Upper_Limb_Unilateral': int,
                'Face_Scalp': int,
                'Trachea': int
               }

In [298]:
#CONVERT
waitinglist_state = waitinglist_state.astype(convert_organcounts)

#CHECK OBJECT TYPES
waitinglist_state.dtypes

Unnamed: 0               object
Kidney                    int32
Liver                     int32
Pancreas                  int32
Kidney_Pancreas           int32
Heart                     int32
Lung                      int32
Heart_Lung                int32
Intestine                 int32
Abdominal_Wall            int32
Head_Neck                 int32
Uterus                    int32
Upper_Limb_Bilateral      int32
Upper_Limb_Unilateral     int32
Face_Scalp                int32
Trachea                   int32
dtype: object

In [299]:
#CHECK OBJECT TYPES
waiting_time.dtypes

Unnamed: 0               object
All_Organs               object
Kidney                   object
Liver                    object
Pancreas                  int64
Kidney_Pancreas          object
Heart                    object
Lung                      int64
Heart_Lung                int64
Intestine                 int64
Abdominal_Wall            int64
Head_Neck                 int64
Uterus                    int64
Upper_Limb_Bilateral      int64
Upper_Limb_Unilateral     int64
Face_Scalp                int64
Trachea                   int64
dtype: object

In [300]:
#CONVERT
waiting_time = waiting_time.astype(convert_organcounts)
waiting_time = waiting_time.astype({'All_Organs': int})

#CHECK OBJECT TYPES
waiting_time.dtypes

Unnamed: 0               object
All_Organs                int32
Kidney                    int32
Liver                     int32
Pancreas                  int32
Kidney_Pancreas           int32
Heart                     int32
Lung                      int32
Heart_Lung                int32
Intestine                 int32
Abdominal_Wall            int32
Head_Neck                 int32
Uterus                    int32
Upper_Limb_Bilateral      int32
Upper_Limb_Unilateral     int32
Face_Scalp                int32
Trachea                   int32
dtype: object

In [301]:
kidney_removal_state_abo.head(3)

,Removal_Reason,State,ABO,To_Date,2020,2019,2018,2017,2016,2015,...,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995
0,All Removal Reason,All Center States,All ABO,575383,33327,38142,36588,35795,35252,33963,...,21942,20597,20133,18913,18285,17253,15724,14621,13942,13547
1,All Removal Reason,All Center States,O,273549,16028,18394,17604,17262,17017,16392,...,10511,9915,9599,8942,8691,7997,7416,6804,6459,6307
2,All Removal Reason,All Center States,A,196298,11014,12561,12033,11872,11819,11208,...,7451,7000,6907,6587,6382,6041,5485,5219,5118,4808

In [302]:
print(kidney_removal_state_abo['Removal_Reason'].unique())

['All Removal Reason' 'Deceased Donor Transplant'
 'Living Donor Transplant' 'Deceased Donor Emergency Tx'
 'Deceased Donor Multi-Organ Tx' 'Patient died during TX procedure'
 'Transplanted in another country' 'Unable to contact candidate'
 'Waiting for KP will not Accept Isol. Or' 'Also Waiting for KP; recvd KP'
 'Medically Unsuitable' 'Also Waiting for KP; recvd Pancreas Alon'
 'Refused transplant' 'Transferred to another center' 'Died' 'Other'
 'Condition Improved' 'Too Sick to Transplant'
 'Transplanted At Another Center']

In [303]:
#assign category (Total, Received Deceased Donor Transplant, Received Living Donor Transplant, Died/Too Sick, Other)
removal_category = []
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'All Removal Reason', 'removal_category'] = 'Total'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Deceased Donor Transplant', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Living Donor Transplant', 'removal_category'] = 'Received Living Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Deceased Donor Emergency Tx', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Deceased Donor Multi-Organ Tx', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Patient died during TX procedure', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Transplanted in another country', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Unable to contact candidate', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Waiting for KP, will not Accept Isol. Or', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Also Waiting for KP; recvd KP', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Medically Unsuitable', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Also Waiting for KP; recvd Pancreas Alon', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Refused transplant', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Transferred to another center', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Died', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Other', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Condition Improved', 'removal_category'] = 'Other'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Too Sick to Transplant', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_abo.loc[kidney_removal_state_abo['Removal_Reason'] == 'Transplanted At Another Center', 'removal_category'] = 'Other'
kidney_removal_state_abo.head(3)

,Removal_Reason,State,ABO,To_Date,2020,2019,2018,2017,2016,2015,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,removal_category
0,All Removal Reason,All Center States,All ABO,575383,33327,38142,36588,35795,35252,33963,...,20597,20133,18913,18285,17253,15724,14621,13942,13547,Total
1,All Removal Reason,All Center States,O,273549,16028,18394,17604,17262,17017,16392,...,9915,9599,8942,8691,7997,7416,6804,6459,6307,Total
2,All Removal Reason,All Center States,A,196298,11014,12561,12033,11872,11819,11208,...,7000,6907,6587,6382,6041,5485,5219,5118,4808,Total

In [304]:
kidney_removal_state_ethnicity.head(3)

,Removal_Reason,State,Ethnicity,To_Date,2020,2019,2018,2017,2016,2015,...,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995
0,All Removal Reason,All Center States,All Ethnicities,575383,33327,38142,36588,35795,35252,33963,...,21942,20597,20133,18913,18285,17253,15724,14621,13942,13547
1,All Removal Reason,All Center States,White,283081,14247,16472,15777,15793,15366,14757,...,11295,10868,10836,10395,10302,9801,8919,8475,8164,7959
2,All Removal Reason,All Center States,Black,160510,9648,11194,10605,10552,10544,10490,...,6100,5557,5457,5073,4857,4471,4078,3897,3641,3455

In [305]:
print(kidney_removal_state_ethnicity['Removal_Reason'].unique())

['All Removal Reason' 'Deceased Donor Transplant'
 'Living Donor Transplant' 'Deceased Donor Emergency Tx'
 'Deceased Donor Multi-Organ Tx' 'Patient died during TX procedure'
 'Transplanted in another country' 'Unable to contact candidate'
 'Waiting for KP will not Accept Isol. Or' 'Also Waiting for KP; recvd KP'
 'Medically Unsuitable' 'Also Waiting for KP; recvd Pancreas Alon'
 'Refused transplant' 'Transferred to another center' 'Died' 'Other'
 'Condition Improved' 'Too Sick to Transplant'
 'Transplanted At Another Center']

In [306]:
#assign category (Total, Received Deceased Donor Transplant, Received Living Donor Transplant, Died/Too Sick, Other)
removal_category = []
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'All Removal Reason', 'removal_category'] = 'Total'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Deceased Donor Transplant', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Living Donor Transplant', 'removal_category'] = 'Received Living Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Deceased Donor Emergency Tx', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Deceased Donor Multi-Organ Tx', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Patient died during TX procedure', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Transplanted in another country', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Unable to contact candidate', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Waiting for KP, will not Accept Isol. Or', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Also Waiting for KP; recvd KP', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Medically Unsuitable', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Also Waiting for KP; recvd Pancreas Alon', 'removal_category'] = 'Received Deceased Donor Transplant'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Refused transplant', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Transferred to another center', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Died', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Other', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Condition Improved', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Too Sick to Transplant', 'removal_category'] = 'Died/Too Sick'
kidney_removal_state_ethnicity.loc[kidney_removal_state_ethnicity['Removal_Reason'] == 'Transplanted At Another Center', 'removal_category'] = 'Other'
kidney_removal_state_ethnicity.head(3)

,Removal_Reason,State,Ethnicity,To_Date,2020,2019,2018,2017,2016,2015,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,removal_category
0,All Removal Reason,All Center States,All Ethnicities,575383,33327,38142,36588,35795,35252,33963,...,20597,20133,18913,18285,17253,15724,14621,13942,13547,Total
1,All Removal Reason,All Center States,White,283081,14247,16472,15777,15793,15366,14757,...,10868,10836,10395,10302,9801,8919,8475,8164,7959,Total
2,All Removal Reason,All Center States,Black,160510,9648,11194,10605,10552,10544,10490,...,5557,5457,5073,4857,4471,4078,3897,3641,3455,Total

In [307]:
kidney_waitlist_additions.head(3)

,State,ABO,Ethnicity,To_Date,2020,2019,2018,2017,2016,2015,...,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995
0,All Center States,All ABO,All Ethnicities,634539,33043,41105,38799,35593,35417,35033,...,27274,24617,23644,22497,22378,21835,19473,18405,17732,17257
1,All Center States,All ABO,White,301516,13937,17317,16378,15661,15530,15365,...,13145,11989,11836,11441,11709,11952,10449,9845,9760,9510
2,All Center States,All ABO,Black,177840,9371,11804,10925,9877,10026,10251,...,7605,6960,6642,6376,6256,5914,5504,5180,5073,4760

In [308]:
kidney_state_donor.head(3)

,State,Deceased_Living,2020,2019,2018,2017,2016,2015,2014,2013,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,Alabama,Deceased,160,194,162,154,154,122,116,104,...,80,100,98,92,79,68,82,86,79,74
1,Alaska,Deceased,32,41,30,31,22,20,28,18,...,10,9,12,11,16,12,17,19,10,6
2,Arizona,Deceased,284,319,261,254,208,165,150,187,...,62,76,71,62,51,47,55,47,57,66

In [309]:
kidney_state_race_abo.head(3)

,Race,State,ABO,2020,2019,2018,2017,2016,2015,2014,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,White,Alabama,A,18,10,25,17,11,15,28,...,16,17,12,12,17,14,15,10,10,8
1,White,Alaska,A,1,3,3,1,0,4,4,...,3,1,3,2,1,3,4,2,1,4
2,White,Arizona,A,22,23,28,14,18,23,27,...,14,15,7,8,13,7,6,7,5,1

In [310]:
transplant_state_heart.head(3)

,Unnamed: 0,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,3378,3552,3408,3244,3191,2804,2655,2531,2378,...,2293,2343,2363,2340,2297,2170,2127,2107,1705,1676
1,Alabama,24,29,36,36,20,26,29,31,22,...,46,50,39,42,41,28,31,37,20,21
2,Arizona,74,63,77,77,81,65,40,29,45,...,33,30,33,41,37,31,34,43,40,38

In [311]:
#column names incomplete
transplant_state_heart.columns.values.tolist()

['Unnamed: 0',
 '2020',
 '2019',
 '2018',
 '2017',
 '2016',
 '2015',
 '2014',
 '2013',
 '2012',
 '2011',
 '2010',
 '2009',
 '2008',
 '2007',
 '2006',
 '2005',
 '2004',
 '2003',
 '2002',
 '2001',
 '2000',
 '1999',
 '1998',
 '1997',
 '1996',
 '1995',
 '1994',
 '1993',
 '1992',
 '1991',
 '1990',
 '1989',
 '1988']

In [312]:
#rename unnamed
transplant_state_heart = transplant_state_heart.rename(columns={"Unnamed: 0": "State"})
transplant_state_heart.head(3)

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,3378,3552,3408,3244,3191,2804,2655,2531,2378,...,2293,2343,2363,2340,2297,2170,2127,2107,1705,1676
1,Alabama,24,29,36,36,20,26,29,31,22,...,46,50,39,42,41,28,31,37,20,21
2,Arizona,74,63,77,77,81,65,40,29,45,...,33,30,33,41,37,31,34,43,40,38

In [313]:
transplant_state_kidney.head(3)

,Unnamed: 0,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,20932,23401,21167,19849,19060,17878,17108,16896,16487,...,11710,11411,11084,10646,10360,9738,9678,9416,8656,8878
1,Alabama,317,296,275,307,216,221,234,242,206,...,279,281,300,267,313,239,251,263,238,210
2,Arizona,607,726,638,627,609,502,432,467,377,...,148,137,137,153,149,109,113,121,147,140

In [314]:
#rename unnamed
transplant_state_kidney = transplant_state_kidney.rename(columns={"Unnamed: 0": "State"})
transplant_state_kidney.head(3)

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,20932,23401,21167,19849,19060,17878,17108,16896,16487,...,11710,11411,11084,10646,10360,9738,9678,9416,8656,8878
1,Alabama,317,296,275,307,216,221,234,242,206,...,279,281,300,267,313,239,251,263,238,210
2,Arizona,607,726,638,627,609,502,432,467,377,...,148,137,137,153,149,109,113,121,147,140

In [315]:
transplant_state_liver.head(3)

,Unnamed: 0,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,8193,8896,8250,8082,7841,7127,6730,6455,6256,...,4189,4087,3934,3652,3440,3064,2953,2690,2202,1713
1,Alabama,97,133,125,133,149,120,107,103,110,...,86,86,82,63,41,31,24,23,10,3
2,Arizona,284,332,289,248,236,142,135,152,133,...,21,29,22,26,32,8,13,12,9,8

In [316]:
#rename unnamed
transplant_state_liver = transplant_state_liver.rename(columns={"Unnamed: 0": "State"})
transplant_state_liver.head(3)

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,8193,8896,8250,8082,7841,7127,6730,6455,6256,...,4189,4087,3934,3652,3440,3064,2953,2690,2202,1713
1,Alabama,97,133,125,133,149,120,107,103,110,...,86,86,82,63,41,31,24,23,10,3
2,Arizona,284,332,289,248,236,142,135,152,133,...,21,29,22,26,32,8,13,12,9,8

In [317]:
transplant_state_lung.head(3)

,Unnamed: 0,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,2362,2714,2530,2449,2327,2057,1925,1923,1754,...,932,815,872,724,667,535,405,203,93,33
1,Alabama,12,8,19,18,15,17,21,24,18,...,27,25,27,23,11,9,6,2,1,0
2,Arizona,124,150,145,117,128,101,73,71,58,...,7,6,7,6,5,4,4,4,0,0

In [318]:
#rename unnamed
transplant_state_lung = transplant_state_lung.rename(columns={"Unnamed: 0": "State"})
transplant_state_lung.head(3)

,State,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,All Center States,2362,2714,2530,2449,2327,2057,1925,1923,1754,...,932,815,872,724,667,535,405,203,93,33
1,Alabama,12,8,19,18,15,17,21,24,18,...,27,25,27,23,11,9,6,2,1,0
2,Arizona,124,150,145,117,128,101,73,71,58,...,7,6,7,6,5,4,4,4,0,0

In [319]:
waiting_time.head(3)

,Unnamed: 0,All_Organs,Kidney,Liver,Pancreas,Kidney_Pancreas,Heart,Lung,Heart_Lung,Intestine,Abdominal_Wall,Head_Neck,Uterus,Upper_Limb_Bilateral,Upper_Limb_Unilateral,Face_Scalp,Trachea
0,All Time,108269,91578,11979,885,1687,3503,977,42,219,4,2,6,3,3,1,1
1,< 30 Days,3965,2830,716,29,91,274,160,4,10,0,0,0,0,0,0,0
2,30 to < 90 Days,7513,5687,1215,68,183,407,175,6,17,0,0,0,0,0,0,0

In [320]:
waitinglist_state.head(3)

,Unnamed: 0,Kidney,Liver,Pancreas,Kidney_Pancreas,Heart,Lung,Heart_Lung,Intestine,Abdominal_Wall,Head_Neck,Uterus,Upper_Limb_Bilateral,Upper_Limb_Unilateral,Face_Scalp,Trachea
0,All Center States,91578,11979,885,1687,3503,977,42,219,4,2,6,3,3,1,1
1,Alabama,1094,103,5,8,23,11,0,0,0,0,0,0,0,0,0
2,Arizona,1422,197,4,20,26,9,0,0,0,0,0,0,0,0,0

In [321]:
#rename unnamed
waitinglist_state = waitinglist_state.rename(columns={"Unnamed: 0": "State"})
waitinglist_state.head(3)

,State,Kidney,Liver,Pancreas,Kidney_Pancreas,Heart,Lung,Heart_Lung,Intestine,Abdominal_Wall,Head_Neck,Uterus,Upper_Limb_Bilateral,Upper_Limb_Unilateral,Face_Scalp,Trachea
0,All Center States,91578,11979,885,1687,3503,977,42,219,4,2,6,3,3,1,1
1,Alabama,1094,103,5,8,23,11,0,0,0,0,0,0,0,0,0
2,Arizona,1422,197,4,20,26,9,0,0,0,0,0,0,0,0,0

In [322]:
waiting_time.head(3)

,Unnamed: 0,All_Organs,Kidney,Liver,Pancreas,Kidney_Pancreas,Heart,Lung,Heart_Lung,Intestine,Abdominal_Wall,Head_Neck,Uterus,Upper_Limb_Bilateral,Upper_Limb_Unilateral,Face_Scalp,Trachea
0,All Time,108269,91578,11979,885,1687,3503,977,42,219,4,2,6,3,3,1,1
1,< 30 Days,3965,2830,716,29,91,274,160,4,10,0,0,0,0,0,0,0
2,30 to < 90 Days,7513,5687,1215,68,183,407,175,6,17,0,0,0,0,0,0,0

In [323]:
waiting_time.dtypes

Unnamed: 0               object
All_Organs                int32
Kidney                    int32
Liver                     int32
Pancreas                  int32
Kidney_Pancreas           int32
Heart                     int32
Lung                      int32
Heart_Lung                int32
Intestine                 int32
Abdominal_Wall            int32
Head_Neck                 int32
Uterus                    int32
Upper_Limb_Bilateral      int32
Upper_Limb_Unilateral     int32
Face_Scalp                int32
Trachea                   int32
dtype: object

In [324]:
#rename unnamed
waiting_time = waiting_time.rename(columns={"Unnamed: 0": "Wait_Time"})
waiting_time.head(3)

,Wait_Time,All_Organs,Kidney,Liver,Pancreas,Kidney_Pancreas,Heart,Lung,Heart_Lung,Intestine,Abdominal_Wall,Head_Neck,Uterus,Upper_Limb_Bilateral,Upper_Limb_Unilateral,Face_Scalp,Trachea
0,All Time,108269,91578,11979,885,1687,3503,977,42,219,4,2,6,3,3,1,1
1,< 30 Days,3965,2830,716,29,91,274,160,4,10,0,0,0,0,0,0,0
2,30 to < 90 Days,7513,5687,1215,68,183,407,175,6,17,0,0,0,0,0,0,0

In [343]:
#rename state
kidney_state_donor = kidney_state_donor.rename(columns={"State  ": "State"})
kidney_state_race_abo = kidney_state_race_abo.rename(columns={"State ": "State"})

In [344]:
kidney_state_donor.to_csv('resources/cleaned_csvs/kidney_state_donor_cleaned.csv',index = True)
kidney_state_race_abo.to_csv('resources/cleaned_csvs/kidney_state_race_abo_cleaned.csv',index = True)
transplant_state_heart.to_csv('resources/cleaned_csvs/transplant_state_heart_cleaned.csv',index = True)
transplant_state_kidney.to_csv('resources/cleaned_csvs/transplant_state_kidney_cleaned.csv',index = True)
transplant_state_liver.to_csv('resources/cleaned_csvs/transplant_state_liver_cleaned.csv',index = True)
transplant_state_lung.to_csv('resources/cleaned_csvs/transplant_state_lung_cleaned.csv',index = True)
waiting_time.to_csv('resources/cleaned_csvs/waiting_time_cleaned.csv',index = True)
waitinglist_state.to_csv('resources/cleaned_csvs/waitinglist_state_cleaned.csv',index = True)
kidney_removal_state_abo.to_csv('resources/cleaned_csvs/kidney_removal_state_abo_cleaned.csv',index = True)
kidney_removal_state_ethnicity.to_csv('resources/cleaned_csvs/kidney_removal_state_ethnicity_cleaned.csv',index = True)
kidney_waitlist_additions.to_csv('resources/cleaned_csvs/kidney_waitlist_additions_cleaned.csv',index = True)
diabetes_state.to_csv('resources/cleaned_csvs/diabetes_state_cleaned.csv',index = True)
obesity_state.to_csv('resources/cleaned_csvs/obesity_state_cleaned.csv',index = True)
overdose_state.to_csv('resources/cleaned_csvs/overdose_state_cleaned.csv',index = True)

In [10]:
# Create PostgreSQL RDS Database Connection
engine = create_engine("postgres+psycopg2://postgres:Group2Final@optn-analysis.cwcmoauclg7w.us-east-2.rds.amazonaws.com:5432/optn")

In [11]:
conn = engine.connect()

In [12]:
# Check table names
engine.table_names()

['kidney_removal_state_abo_cleaned',
 'kidney_removal_state_ethnicity_cleaned',
 'kidney_state_donor_cleaned',
 'kidney_waitlist_additions_cleaned',
 'transplant_state_heart_cleaned',
 'transplant_state_kidney_cleaned',
 'transplant_state_liver_cleaned',
 'transplant_state_lung_cleaned',
 'overdose_state_cleaned',
 'kidney_state_race_abo_cleaned',
 'waiting_time_cleaned',
 'waitinglist_state_cleaned',
 'diabetes_state_cleaned',
 'obesity_state_cleaned']

In [332]:
kidney_removal_state_abo.to_sql('kidney_removal_state_abo_cleaned', con=engine, if_exists = 'append', index=False)

In [333]:
pd.read_sql_query('select * from kidney_removal_state_abo_cleaned', con=engine).head()

,id,Removal_Reason,State,ABO,To_Date,2020,2019,2018,2017,2016,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,removal_category
0,1,All Removal Reason,All Center States,All ABO,575383,33327,38142,36588,35795,35252,...,20597,20133,18913,18285,17253,15724,14621,13942,13547,Total
1,2,All Removal Reason,All Center States,O,273549,16028,18394,17604,17262,17017,...,9915,9599,8942,8691,7997,7416,6804,6459,6307,Total
2,3,All Removal Reason,All Center States,A,196298,11014,12561,12033,11872,11819,...,7000,6907,6587,6382,6041,5485,5219,5118,4808,Total
3,4,All Removal Reason,All Center States,B,82113,4970,5640,5503,5249,5099,...,2878,2820,2622,2501,2464,2196,2006,1791,1839,Total
4,5,All Removal Reason,All Center States,AB,23527,1315,1547,1449,1412,1317,...,804,807,762,712,751,627,592,575,593,Total

In [334]:
kidney_removal_state_ethnicity.to_sql('kidney_removal_state_ethnicity_cleaned', con=engine, if_exists = 'append', index=False)

In [338]:
kidney_state_donor.to_sql('kidney_state_donor_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [341]:
kidney_state_race_abo.head()

,Race,State,ABO,2020,2019,2018,2017,2016,2015,2014,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,White,Alabama,A,18,10,25,17,11,15,28,...,16,17,12,12,17,14,15,10,10,8
1,White,Alaska,A,1,3,3,1,0,4,4,...,3,1,3,2,1,3,4,2,1,4
2,White,Arizona,A,22,23,28,14,18,23,27,...,14,15,7,8,13,7,6,7,5,1
3,White,Arkansas,A,9,5,8,5,6,4,5,...,9,9,12,10,7,6,5,8,6,10
4,White,California,A,65,106,123,70,69,89,79,...,75,46,64,59,49,48,37,38,29,35

In [345]:
kidney_state_race_abo.to_sql('kidney_state_race_abo_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [346]:
kidney_removal_state_abo.to_sql('kidney_removal_state_abo_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [347]:
kidney_waitlist_additions.to_sql('kidney_waitlist_additions_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [348]:
transplant_state_heart.to_sql('transplant_state_heart_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [349]:
transplant_state_kidney.to_sql('transplant_state_kidney_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [350]:
transplant_state_liver.to_sql('transplant_state_liver_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [351]:
transplant_state_lung.to_sql('transplant_state_lung_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [356]:
waitinglist_state.to_sql('waitinglist_state_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [355]:
waiting_time.to_sql('waiting_time_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [12]:
diabetes_state.to_sql('diabetes_state_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [17]:
obesity_state.to_sql('obesity_state_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

done

In [13]:
overdose_state.to_sql('overdose_state_cleaned', con=engine, if_exists = 'append', index=False)
print('done')

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "2001" violates not-null constraint
DETAIL:  Failing row contains (2, Alaska, 4.5, 4.3, null, null, null, null, 11.4, 4.3, null, 13.7, 13.4, 10, 10, 11.1, 9.4, 10.7, 16, 16.8, 20.2, 14.6).

[SQL: INSERT INTO overdose_state_cleaned ("State", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018") VALUES (%(State)s, %(1999)s, %(2000)s, %(2001)s, %(2002)s, %(2003)s, %(2004)s, %(2005)s, %(2006)s, %(2007)s, %(2008)s, %(2009)s, %(2010)s, %(2011)s, %(2012)s, %(2013)s, %(2014)s, %(2015)s, %(2016)s, %(2017)s, %(2018)s)]
[parameters: ({'State': 'Alabama', '1999': 0.9, '2000': 1.0, '2001': 1.5, '2002': 1.7, '2003': 1.2, '2004': 2.0, '2005': 1.8, '2006': 2.9, '2007': 3.7, '2008': 4.1, '2009': 4.4, '2010': 4.1, '2011': 3.7, '2012': 3.6, '2013': 3.6, '2014': 5.8, '2015': 15.7, '2016': 16.2, '2017': 18.0, '2018': 16.6}, {'State': 'Alaska', '1999': 4.5, '2000': 4.3, '2001': None, '2002': None, '2003': None, '2004': None, '2005': 11.4, '2006': 4.3, '2007': None, '2008': 13.7, '2009': 13.4, '2010': 10.0, '2011': 10.0, '2012': 11.1, '2013': 9.4, '2014': 10.7, '2015': 16.0, '2016': 16.8, '2017': 20.2, '2018': 14.6}, {'State': 'Arizona', '1999': 5.0, '2000': 4.9, '2001': 5.2, '2002': 6.3, '2003': 6.4, '2004': 6.4, '2005': 6.7, '2006': 7.9, '2007': 7.9, '2008': 8.2, '2009': 9.9, '2010': 10.2, '2011': 9.2, '2012': 8.6, '2013': 8.2, '2014': 9.2, '2015': 19.0, '2016': 20.3, '2017': 22.2, '2018': 23.8}, {'State': 'Arkansas', '1999': 1.1, '2000': 0.7, '2001': 1.1, '2002': 3.5, '2003': 3.6, '2004': 4.8, '2005': 4.6, '2006': 5.3, '2007': 5.5, '2008': 7.3, '2009': 7.6, '2010': 6.8, '2011': 6.0, '2012': 6.1, '2013': 5.9, '2014': 6.0, '2015': 13.8, '2016': 14.0, '2017': 15.5, '2018': 15.7}, {'State': 'California', '1999': 4.8, '2000': 3.3, '2001': 1.8, '2002': 4.5, '2003': 4.3, '2004': 4.3, '2005': 4.1, '2006': 4.4, '2007': 4.9, '2008': 5.2, '2009': 5.8, '2010': 5.5, '2011': 5.5, '2012': 4.9, '2013': 5.4, '2014': 5.6, '2015': 11.3, '2016': 11.2, '2017': 11.7, '2018': 12.8}, {'State': 'Colorado', '1999': 4.0, '2000': 4.3, '2001': 4.6, '2002': 4.6, '2003': 5.1, '2004': 5.1, '2005': 6.7, '2006': 7.1, '2007': 7.7, '2008': 7.5, '2009': 8.3, '2010': 6.5, '2011': 8.3, '2012': 8.0, '2013': 8.4, '2014': 9.9, '2015': 15.4, '2016': 16.6, '2017': 17.6, '2018': 16.8}, {'State': 'Connecticut', '1999': 4.7, '2000': 5.1, '2001': 4.6, '2002': 5.0, '2003': 4.8, '2004': 5.6, '2005': 5.0, '2006': 6.8, '2007': 7.1, '2008': 6.6, '2009': 6.2, '2010': 6.3, '2011': 5.9, '2012': 5.6, '2013': 12.3, '2014': 14.8, '2015': 22.1, '2016': 27.4, '2017': 30.9, '2018': 30.7}, {'State': 'Delaware', '1999': 4.1, '2000': 4.6, '2001': 5.0, '2002': 6.7, '2003': 5.6, '2004': 4.6, '2005': 3.9, '2006': 4.9, '2007': 6.0, '2008': 7.7, '2009': 10.4, '2010': 12.9, '2011': 12.7, '2012': 9.4, '2013': 12.4, '2014': 13.4, '2015': 22.0, '2016': 30.8, '2017': 37.0, '2018': 43.8}  ... displaying 10 of 51 total bound parameter sets ...  {'State': 'Wisconsin', '1999': 1.6, '2000': 2.2, '2001': 2.6, '2002': 3.2, '2003': 3.7, '2004': 4.1, '2005': 5.1, '2006': 6.3, '2007': 7.0, '2008': 6.7, '2009': 7.2, '2010': 7.4, '2011': 8.5, '2012': 8.7, '2013': 10.5, '2014': 11.1, '2015': 15.5, '2016': 19.3, '2017': 21.2, '2018': 19.2}, {'State': 'Wyoming', '1999': None, '2000': None, '2001': None, '2002': None, '2003': None, '2004': None, '2005': None, '2006': None, '2007': 4.7, '2008': 8.8, '2009': 6.1, '2010': 8.7, '2011': 8.3, '2012': 8.2, '2013': 8.9, '2014': 9.8, '2015': 16.4, '2016': 17.6, '2017': 12.2, '2018': 11.1})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)