In [1]:
#Import dependencies
import pandas as pd 
import numpy as np

In [2]:
#Read in CSVs
diabetes_df = pd.read_csv('resources/cleaned_csvs/diabetes_state_cleaned.csv')
obesity_df = pd.read_csv('resources/cleaned_csvs/obesity_state_cleaned.csv')
overdose_df = pd.read_csv('resources/cleaned_csvs/overdose_state_cleaned.csv')
waitinglist_df = pd.read_csv('resources/cleaned_csvs/waitinglist_state_cleaned.csv')

In [3]:
#Check csv reads
diabetes_df.head()

,Unnamed: 0,State,1995,1996,1997,1998,1999,2000,2001,2002,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0,Alabama,0.05,0.06,0.06,0.07,0.08,0.08,0.08,0.09,...,0.12,0.12,0.12,0.14,0.13,0.14,0.15,0.14,0.15,0.14
1,1,Alaska,0.04,0.04,0.04,0.04,0.04,0.04,0.05,0.05,...,0.06,0.08,0.07,0.07,0.07,0.08,0.08,0.07,0.09,0.07
2,2,Arizona,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.06,...,0.09,0.10,0.11,0.11,0.10,0.10,0.11,0.10,0.11,0.11
3,3,Arkansas,0.06,0.06,0.06,0.07,0.07,0.07,0.07,0.07,...,0.10,0.11,0.11,0.12,0.13,0.13,0.14,0.12,0.14,0.14
4,4,California,0.05,0.05,0.06,0.06,0.07,0.08,0.07,0.07,...,0.09,0.09,0.10,0.10,0.10,0.10,0.10,0.11,0.10,0.10

In [4]:
obesity_df.head()

,Unnamed: 0,State,1995,1996,1997,1998,1999,2000,2001,2002,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0,Alaska,0.157,0.167,0.177,0.188,0.198,0.209,0.2177,0.2263,...,0.259,0.274,0.257,0.284,0.297,0.298,0.314,0.342,0.295,0.305
1,1,North Carolina,0.163,0.172,0.181,0.190,0.199,0.209,0.2193,0.2297,...,0.294,0.291,0.296,0.294,0.297,0.301,0.318,0.321,0.330,0.340
2,2,Alabama,0.157,0.170,0.184,0.198,0.212,0.226,0.2453,0.2647,...,0.323,0.320,0.330,0.324,0.335,0.356,0.357,0.363,0.362,0.361
3,3,North Dakota,0.152,0.162,0.173,0.183,0.194,0.205,0.2157,0.2263,...,0.280,0.278,0.297,0.310,0.322,0.310,0.319,0.332,0.351,0.348
4,4,Arkansas,0.170,0.179,0.189,0.199,0.209,0.219,0.2300,0.2410,...,0.306,0.309,0.345,0.346,0.359,0.345,0.357,0.350,0.371,0.374

In [5]:
overdose_df.head()

,Unnamed: 0,State,1999,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,Alabama,0.9,1.0,1.5,1.7,1.2,2.0,1.8,2.9,...,4.4,4.1,3.7,3.6,3.6,5.8,15.7,16.2,18.0,16.6
1,1,Alaska,4.5,4.3,NaN,NaN,NaN,NaN,11.4,4.3,...,13.4,10.0,10.0,11.1,9.4,10.7,16.0,16.8,20.2,14.6
2,2,Arizona,5.0,4.9,5.2,6.3,6.4,6.4,6.7,7.9,...,9.9,10.2,9.2,8.6,8.2,9.2,19.0,20.3,22.2,23.8
3,3,Arkansas,1.1,0.7,1.1,3.5,3.6,4.8,4.6,5.3,...,7.6,6.8,6.0,6.1,5.9,6.0,13.8,14.0,15.5,15.7
4,4,California,4.8,3.3,1.8,4.5,4.3,4.3,4.1,4.4,...,5.8,5.5,5.5,4.9,5.4,5.6,11.3,11.2,11.7,12.8

In [6]:
waitinglist_df.head()

,Unnamed: 0,State,Kidney,Liver,Pancreas,Kidney_Pancreas,Heart,Lung,Heart_Lung,Intestine,Abdominal_Wall,Head_Neck,Uterus,Upper_Limb_Bilateral,Upper_Limb_Unilateral,Face_Scalp,Trachea
0,0,All Center States,91578,11979,885,1687,3503,977,42,219,4,2,6,3,3,1,1
1,1,Alabama,1094,103,5,8,23,11,0,0,0,0,0,0,0,0,0
2,2,Arizona,1422,197,4,20,26,9,0,0,0,0,0,0,0,0,0
3,3,Arkansas,185,35,0,0,28,0,0,0,0,0,0,0,0,0,0
4,4,California,18805,2281,61,215,282,145,9,34,0,0,0,0,0,0,0